{% extends "layout.html" %}

{% block title %}
{{book.title}}
{% endblock %}

{% block nav %}
<li><a href={{ url_for('homepage', user_id=user_id) }} class="actice">Home</a></li>
<li><a href={{ url_for('index') }}>Logout</a></li>
{% endblock %}


{% block body %}
<div class="blog-header">
  <i><h1 class="blog-title">{{book.title}}</h1></i>
  <p class="lead blog-description">
    <cite title="Source Title">{{book.author}} ({{book.year}}) ({{book.isbn}})</cite>
  </p>
</div>


{% if error_message %}
<div class="alert alert-warning alert-dismissible text-center" role="alert">
  <h3><strong>{{error_message}}</strong></h3>
</div>
{% endif %}



<div class="row">

      <div class="col-sm-8 blog-main">

        <div class="blog-post">
          {% if not reviews %}
          <h3 class="blog-description">This book have no review yet! <h3 class="blog-description">Be the first one to review it right now!</h3>
          {% endif %}

          {% for review in reviews %}
          <blockquote>
            <!-- <h3 class="blog-post-title"></h3> -->
            <p class="blog-post-meta"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>by {{review.user_id}}</p>
            <p>{{review.comment}}asdasd</p>

              {{review.rate}}<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          </blockquote><hr>
          {% endfor %}

        <hr></div><!-- /.review-post -->
        <form class="my-review form" method="post">
          <textarea class="form-control" rows="4" name = "user_comment" id="user_comment" placeholder = "text your comment here" required></textarea>

          <label class="radio-inline" >
            <input type="radio" name="inlineRadioOptions" id="1"  value="1" required>1<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          </label>
          <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="2" value="2"required>2<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          </label>
          <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="3" value="3"required>3<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          </label>
          <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="4" value="4"required>4<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          </label>
          <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="5" value="5"required>5<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          </label>

          <div >
            <button type="submit" class="btn btn-default">Submit!</button>
          </div>
        </form><!-- my review -->

      </div><!-- /.review-div -->

</div>

{% endblock %}
