{% extends "layout.html" %}


{% block title %}
Library System
{% endblock %}

{% block body %}
<div class="container-fluid">
  <div class="page-header">
    <h1> Library Retrieval System <small> v1.0 </small></h1>
  </div>
</div>

<div class="jumbotron">
  <h1>Welcome!</h1>
  <p>To discover thousands of books
      , review comment from other
      and leave your own footprint on each book!
  </p>
  <p>
    <a href="{{ url_for('login') }}" class="btn btn-primary btn-lg" href="#" role="button">Login in</a>
    <a class="btn btn-primary btn-lg" href="#" role="button">Register in</a>
  </p>
  <p>
    <small>If your haven't regiter yet, please register first!</small>
  </p>
</div>

<address>
  <strong>ZiLong Zhou</strong><br>
  Caoan Highway 4800
  Tongji University<br>
  ShangHai, PRC <br>
</address>
{% endblock %}
