{% extends "layout.html" %}

{% block title %} 
    login 
{% endblock %}

{% block body %}
<h1>"ahahdasd"</h1>
<div class="container-sm">100% wide until small breakpoint</div>

<form method="post">  <!-- 指定提交方法为 POST -->
    <label for="name">名字</label>
    <input type="text" name="name" id="name"><br>  <!-- 文本输入框 -->
    <label for="occupation">职业</label>
    <input type="text" name="occupation" id="occupation"><br>  <!-- 文本输入框 -->
    <input type="submit" name="submit" value="登录">  <!-- 提交按钮 -->
</form>
{% endblock %}